<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="login" method="POST">
            {% csrf_token %}
          <label for="fname">username</label>
          <input type="text" id="fname" name="username" placeholder="username..">
      
          <label for="lname">password</label>
          <input type="text" id="lname" name="password" placeholder="password">
      
          <
          <input type="submit" value="Submit">
        </form>
      </div>
</body>
</html>